.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #8257E5 url("./assets/success-background.svg") no-repeat;
    background-position: 15vw 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.modal h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 54px;
    line-height: 42px;
}
.modal p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #D4C2FF;
}
.modal a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 56px;
    background: #04D361;
    border-radius: 8px;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: white;
    transition: 400ms;
}
.modal a:hover {
    background: #04BF58;
}