<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered!</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/modal.css">
</head>
<body>
    <div class="modal" id="modal">
        <img src="/assets/success-check-icon.svg" alt="success">
        <h1>Registered!</h1>
        <p>
            All good, your information has been saved in our tutors database. <br>
            Now you ought to keep an eye in your Whatsapp.
        </p>
        <a href="/search-tutor">Access database</a>
    </div>
</body>
</html>