{% extends "layout.html" %}

{% block title %}
    <title>Registered!</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    <div class="modal">
        <img src="/assets/success-check-icon.svg" alt="success">
        <h1>Registered!</h1>
        <p>
            All good, your information has been saved in our tutors database. <br>
            Now you ought to keep an eye in your Whatsapp.
        </p>
        <a href="/search-tutor">Access database</a>
    </div>
{% endblock content %}
