{% extends "layout.html" %}

{% set pageId = "registration" %}

{% block title %}
    <title>Registration</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/registration.css">
{% endblock styles %}

{% block header %}
    <header>
        <a href="/">
            <img src="/assets/back.svg" alt="back">
        </a>
        <a href="/">
            <img src="/assets/logo.svg" alt="logo">
        </a>
    </header>
    <div class="flow">
        <div class="top">
            <h1>How amazing that you wanna give classes</h1>
            <p>The first step is to fulfill this registration form</p>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <form action="/save-class" method="POST">

        <fieldset>

            <legend>
                <h2>Your information</h2>
            </legend>

            <div class="field">
                <label for="name">Your name</label>
                <input type="text" name="name" required>
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="avatar">Link to you picture <span>(start with http://)</span></label>
                    <input type="text" name="avatar" required>
                </div>

                <div class="field">
                    <label for="whatsapp">Whatsapp</label>
                    <input type="text" 
                        name="whatsapp" 
                        placeholder="(   ) ___-___"
                        required
                    >
                </div>

            </div>
            
            <div class="field">
                <label for="bio">Biography <span>(maximum 300 characters)</span></label>
                <textarea 
                    name="bio" 
                    cols="30" 
                    rows="10"
                ></textarea>
            </div>

        </fieldset>

        <fieldset>

            <legend>
                <h2>About the class</h2>
            </legend>

            <div class="field">
                <label for="subject">Subject</label>
                <select 
                    name="subject"
                    onchange="changeColor()"
                    required
                >
                    <option value="">Please select the subject you want to teach</option>
                    {% for subject in subjects %}
                        <option value="{{ loop.index }}">
                            {{ subject }}
                        </option>
                    {% endfor %}

                </select>
            </div>

            <div class="field">
                <label for="cost">Hourly cost of your classes</label>
                <input 
                    type="number" 
                    name="cost"
                    placeholder="C$"
                    required
                >
            </div>

        </fieldset>

        <fieldset id="container">

            <legend id="dynamic">
                <h2>Availability <button type="button" onclick="addRow()">+ New time</button></h2>
            </legend>

            <div class="field-group-2">

                <div class="field">
                    <label for="weekday">Weekday</label>
                    <select 
                        name="weekday[]"
                        onchange="changeColor2()"
                        required
                    >
                        <option value="">Select weekday</option>
                        {% for weekday in weekdays %}
                            <option value="{{ loop.index0 }}">
                                {{ weekday }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label for="from">From</label>
                    <input 
                        type="time"
                        name="time_from[]"
                        onchange="changeColor3()"
                        required
                    >
                </div>

                <div class="field">
                    <label for="to">To</label>
                    <input 
                        type="time"
                        name="time_to[]"
                        onchange="changeColor3()"
                        required
                    >
                </div>

            </div>

        </fieldset>

        <div class="finish">
            <span>
                <img src="/assets/warning.svg" alt="warning">
                <span>
                    Important! <br>
                    Fill up every field
                </span>
                
            </span>
            <button>Register</button>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/registration.js"></script>
{% endblock scripts %}

