{% extends "layout.html" %}

{% set pageId = "registration" %}

{% block title %}
    <title>Registration</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/registration.css">
{% endblock styles %}

{% block header %}
    <header>
        <a href="/">
            <img src="/assets/back.svg" alt="back">
        </a>
        <a href="/">
            <img src="/assets/logo.svg" alt="logo">
        </a>
    </header>
    <div class="flow">
        <div class="top">
            <h1>How amazing that you wanna give classes</h1>
            <h3>The first step is to fulfill this registration form</h3>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <form action="/registered" method="POST">

        <legend>
            <h2>Your information</h2>
        </legend>

        <fieldset>

            <div class="field">
                <label for="name">Your name</label>
                <input type="text" name="name">
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="image">Link to you picture <span>(start with http://)</span></label>
                    <input type="text" name="image">
                </div>

                <div class="field">
                    <label for="whatsapp">Whatsapp</label>
                    <input type="text" name="whatsapp" placeholder="(   ) ___-___">
                </div>

            </div>
            
            <div class="field">
                <label for="bio">Biography <span>(maximum 300 characters)</span></label>
                <textarea 
                    name="bio" 
                    cols="30" 
                    rows="10"
                ></textarea>
            </div>

        </fieldset>

        <legend>
            <h2>About the class</h2>
        </legend>

        <fieldset>

            <div class="field">
                <label for="subject">Subject</label>
                <select 
                    name="subject"
                    onchange="changeColor()"
                >
                    <option value="">Please select the subject you want to teach</option>
                </select>
            </div>

            <div class="field">
                <label for="cost">Hourly cost of your classes</label>
                <input 
                    type="text" 
                    name="cost"
                    placeholder="C$"
                >
            </div>

        </fieldset>

        <legend id="dynamic">
            <h2>Availability <button type="button" onclick="addRow()">+ New time</button></h2>
        </legend>

        <fieldset id="container">

            <div class="field-group-2">

                <div class="field">
                    <label for="weekday">Weekday</label>
                    <select 
                        name="weekday"
                        onchange="changeColor2()"
                    >
                        <option value="">Select weekday</option>
                    </select>
                </div>

                <div class="field">
                    <label for="from">From</label>
                    <select 
                        name="from"
                        onchange="changeColor2()"    
                    >
                        <option value="">Start</option>
                    </select>
                </div>

                <div class="field">
                    <label for="to">To</label>
                    <select 
                        name="to"
                        onchange="changeColor2()"    
                    >
                        <option value="">End</option>
                    </select>
                </div>

            </div>

        </fieldset>

        <div class="finish">
            <span>
                <img src="/assets/warning.svg" alt="warning">
                <span>
                    Important! <br>
                    Fill up every field
                </span>
                
            </span>
            <button>Register</button>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/registration.js"></script>
{% endblock scripts %}

