.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-primary) url("/assets/success-background.svg") no-repeat;
    background-position: 15vw 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.modal h1 {
    font-size: 3.375rem;
    line-height: 2.625rem;
    margin-bottom: 2rem;
}
.modal p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--color-text-in-primary);
    margin-bottom: 1rem;
}
.modal a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 3.5rem;
    background: var(--color-secondary);
    border-radius: .5rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    color: white;
    transition: background 400ms;
}
.modal a:hover {
    background: var(--color-secondary-dark);
}