@media (max-width: 1200px), (max-height: 700px) {
    .logo-container {
        padding: 1rem;
    }
    .buttons-container {
        justify-content: center;
        width: 100%;
    }

    html body {
        height: 100%;
    }
    body::after {
        display: none;
    }
    div#page-home {
        justify-content: center;
    }
    div#page-home div#container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: .75rem;
    }
    div#page-home div#container .logo-container {
        width: 100%;
    }
    div#page-home div#container .logo-container img {
        align-self: center;
        width: inherit;
    }
    div#page-home div#container .logo-container p {
        text-align: center;
    }
    div#page-home div#container .hero-image {
        width: 100%;
    }
    div#page-home div#container .welcome {
        display: none;
    }
    div#page-home div#container .heart {
        position: static;
        order: 2;
        bottom: 1rem;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    div#page-home div#container .heart img {
        margin: 0;
        margin-left: .25rem;
    }
    div#page-home div#container .buttons-container a {
        background-color: var(--color-primary-lighter);
    }
    div#page-home div#container .buttons-container a:hover {
        background-color: var(--color-primary-darker);
    }
    div#page-home div#container .buttons-container a + a {
        margin-right: 0;
        background-color: var(--color-secondary);
    }
    div#page-home div#container .buttons-container a + a:hover {
        background-color: var(--color-secondary-dark);
    }
}
@media (min-height: 900px) {
    html body {
        height: 100vh;
    }    
}
@media (max-width: 750px) {
    #registration {
        width: 100vw;
    }
    #registration .flow {
        padding: 0 4rem;
    }
    #registration .flow .top {
        width: auto !important;
    }
    #registration .flow .top h1,
    #registration .flow .top p {
        width: auto;
    }
    #registration form {
        width: 100% !important;
    }
    #registration form fieldset .field-group {
        flex-direction: column;
    }
    #registration form fieldset .field-group .field + .field {
        margin-left: 0 !important;
    }
    #registration form .finish {
        width: 100vw !important;
        height: auto !important;
        position: relative !important;
        flex-direction: column;
        padding: 1rem 4rem!important;

    }
    #registration form .finish span {
        margin: 1rem 0;
    }
    #registration form .finish button {
        width: 100% !important;
        margin-bottom: 2rem;
    }
    #registration form fieldset .field-group-2 {
        display: flex !important;
        flex-direction: column !important;
    }

    #search-results .top h1,
    #search-results form,
    #search-results .cards {
        width: 100% !important;
        padding: 0 10% !important;
    }
    #search-results form fieldset .field-group {
        display: flex !important;
        flex-direction: column;
    }
    #search-results .top {
        height: 35rem;
    }
    #search-results form {
        margin: -26rem auto 4.2rem auto !important;
    }
    #search-results form fieldset .field-group .field {
        margin-bottom: 1rem;
    }
    #search-results form fieldset .field-group .field select, 
    #search-results form fieldset .field-group .field input {
        margin-right: 0 !important;
    }
    #search-results form fieldset .field-group .filter {
        margin-top: 1rem;
    }
    #search-results .cards .card {
        padding: 2rem 5% 0 5% !important;
    }
    #search-results .cards .card .time-table {
        display: none !important;
    }
    #search-results .cards .card .finish {
        flex-direction: column;
        justify-content: space-evenly !important;
        left: -5.5% !important;
        width: 111% !important;
    }
}
@media (max-width: 330px) {
    #search-results .top {
        height: 38rem;
    }
}